/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-regular.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-600.woff') format('woff');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-900.woff') format('woff');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

.hero-title {
  color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.section-title {
  color: var(--color-primary-dark);
}
